* {
  font-family: Inter;
  background: rgb(0, 0, 0);
  color: aliceblue;
}
main {
  margin-left: 14rem;
  margin-right: 14rem;
}
p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}
.container {
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.home {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: rgb(230, 83, 60);
  border-radius: 19px;
}

.fitness {
  color: rgb(230, 83, 60);
  font-weight: 800;
  font-size: 2.2rem;
}

.link {
  padding: 0.5rem;
  border-radius: 1rem;
}
.link a {
  text-decoration: none;
  color: aliceblue;
  margin-right: 2rem;
  margin-left: 2rem;
}

.body {
  width: 400px;

  font-family: Inter;
  font-size: 58px;
  font-weight: 800;
}

.shape {
  font-family: Great Vibes;
}

.join {
  border-radius: 42px;
  padding: 12px 40px 12px 40px;
  background: rgb(230, 83, 60);
  text-decoration: none;
  margin-right: 20px;
}

.download {
  border: 1px solid white;
  border-radius: 42px;
  padding: 12px 40px 12px 40px;
  background: rgb(0, 0, 0);
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.main {
  padding-top: 2rem;
  display: flex;

  align-items: center;
}

.builder {
  margin-left: 650px;
  position: relative;
}

.vedio {
  border-radius: 12px;
  width: 190px;
  height: 90px;
  padding-left: 17px;
  background: transparent;
  margin-top: -500px;
  margin-left: 210px;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.workout {
  width: 190px;
  height: 86px;
  background: transparent;
  margin-top: -167px;
  margin-left: -90px;
  position: absolute;
  display: flex;
  gap: 20px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  align-items: center;
  justify-content: center;
}

.workout i {
  font-size: 2.2rem;
  color: red;
  background-color: red;
  border-radius: 50%;

  margin-left: 10px;
}
.five {
  margin-top: 7px;
  width: 116px;
  height: 40px;
  font-size: 2rem;
  background-color: transparent;
  padding-left: 17px;
}

.free {
  margin-top: -18px;
  background-color: transparent;
  padding-left: 17px;
}

.three {
  background-color: transparent;
}

.tutorial {
  background-color: transparent;
  margin-top: -14px;
}

.transparent {
  background-color: transparent;
}

.hide {
  visibility: hidden;
}

.change {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  height: 452px;
  align-items: center;
  text-align: center;
}

.change h1 {
  font-family: Inter;
  font-size: 43px;
  font-weight: 900;
}

.images {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.images img {
  border-radius: 50%;
  margin-top: 10px;
}

.extra {
  padding: 30px;
  margin-top: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 90px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 1160px;
  height: 351px;
  background: rgb(34, 34, 34);
  border-radius: 14px;
}

.test {
  background: transparent;
}
.test h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 42px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.test h1,
p {
  background: transparent;
}

.run img {
  height: 312px;
  border-radius: 14px;
}
.run {
  background: transparent;
}
.bonus {
  margin-top: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 90px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 1230px;
  height: 460px;
  background: rgb(34, 34, 34);
  border-radius: 14px;
}

.calculate {
  background: rgb(34, 34, 34);
}
.table {
  height: 360px;
  width: 500px;
  background: rgb(34, 34, 34);
}

.from {
  height: 330px;
  width: 500px;
  background: rgb(34, 34, 34);
}
.hisab {
  margin-top: 30px;
  border-radius: 42px;
  padding: 12px 40px 12px 40px;
  background: rgb(230, 83, 60);
  text-decoration: none;
}

.text-third {
  margin-left: 105px;
}

.meet {
  margin-left: auto;
  margin-right: auto;
  gap: 90px;
  justify-content: center;

  width: 1160px;
  height: 571px;
  background: rgb(34, 34, 34);
  padding: 30px;
  border-radius: 14px;
}

.meet-flex {
  display: grid;
  grid-template-areas: "area area area";
  background: rgb(34, 34, 34);
}

.area {
  background: rgb(34, 34, 34);
}

.area img {
  height: 255px;
  border-radius: 19px;
  position: relative;
}
.rela {
  position: absolute;
  background: transparent;
  margin-top: -115px;
  margin-left: 20px;
}
.meet-flex div img {
  width: 355px;
  height: 270px;
  padding: 10px;
  background: rgb(34, 34, 34);
}

.tran {
  background: transparent;
  font-size: 1.5rem;
  font-family: Inter;
}

.text {
  margin-top: -18px;
}

.text-second {
  text-align: center;
}

footer {
  margin-top: 80px;
  background: rgb(34, 34, 34);
  height: 250px;
  width: 100%;
}
.in {
  position: relative;
  background: rgb(34, 34, 34);
}
.in input {
  width: 234px;
  height: 44px;
  border-radius: 12px;
  border: none;
  margin: 4px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
}

.in select {
  width: 490px;
  height: 44px;
  border-radius: 12px;
  border: none;
  padding: 7px;
  margin: 4px;
  background: rgba(255, 255, 255, 0.1);
}
.lin {
  margin-top: 20px;
  position: absolute;
}
.last {
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  width: 1240px;
  height: 200px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: center;
}
hr {
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  width: 1240px;
}

.footer-des {
  background: rgb(34, 34, 34);
}

.lastvai {
  padding: 10px;
  background: rgb(34, 34, 34);
}

.lastvai a {
  text-decoration: none;
  background: rgb(34, 34, 34);
}

.lastvai h3 p {
  background: transparent;
}

.footer-main {
  font-family: Vujahday Script;
  font-size: 40px;
  font-weight: 800;
  background: rgb(34, 34, 34);
  color: rgb(230, 83, 60);
}

.chart {
  background: rgb(34, 34, 34);
}
table th {
  text-align: center;
  background: rgb(34, 34, 34);
  width: 350px;
  height: 40px;
}
table td {
  text-align: center;
  background: rgb(34, 34, 34);
  height: 40px;
}
/* Responsive start Here */

@media screen and (max-width: 574px) {
  .main {
    flex-direction: column;
  }
  .builder {
    margin-top: 30px;
    margin-left: 5px;
  }
  main {
    margin: 0;
  }
  .link {
    display: none;
  }
  .hide {
    font-size: 30px;
    visibility: visible;
    margin-right: 20px;
  }
  .vedio {
  }
  .workout {
    margin-left: -20px;
  }
  .vedio {
    margin-left: 160px;
    margin-top: -400px;
  }
  .fitness {
    margin-left: 20px;
  }
  .body-health {
    margin-left: 55px;
    margin-right: 30px;
  }
  .images {
    display: block;
  }
  .extra {
    width: 70%;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 1060px;
    display: block;
  }
  .run img {
    margin-top: 40px;
    height: 232px;
    border-radius: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .meet-flex {
    display: grid;
    grid-template-areas: "area";
  }
  .meet {
    width: auto;
    height: fit-content;
  }
  .last {
    flex-direction: column;
    width: 100%;
  }
  footer {
    width: 100%;
    height: fit-content;
  }
  hr {
    width: 90%;
  }

  .right {
    margin-top: 350px;
    padding-bottom: 20px;
  }
  .bonus {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .from {
    width: 70%;
  }
  .table {
    width: 70%;
  }
  .text-third {
    margin-left: 5px;
  }
  .in input {
    width: 170px;
  }
  .in select {
    width: 170px;
  }
  .bonus {
    height: 1000px;
    gap: 70px;
  }
  .table {
    margin-top: -200px;
  }
}
